*{
    padding: 0;
    margin: 0;
}
/* Common css start */
/* :root{} */
body{
    // font-family: 'Roboto', sans-serif;
    font-family: 'SolaimanLipi', sans-serif;

}
h1,h2,h3,h4,h5,h6,
p,
span,small,
ol,ul{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
}
ul,ol{
    list-style: none;
}
.form-control:focus{
    box-shadow: none;
    border-color: #ddd;
}
.form-control{
    border-radius: initial;
}
.btn:focus{
    box-shadow: none;
}
$font-bn: 'SolaimanLipi', sans-serif;
$font-ppns : 'Poppins', sans-serif;
/* Common css end */