/* Common css start */
@import 'common';
@import 'colors';
@import 'mixins';
/* Common css end */
    // Extra extra large device start *xxl*
// @media(min-width:1400px){}
    // Extra extra large device end
// extra large device start *xl*
@media(min-width:1200px) and (max-width:1399.98px){
    /* category section start */
    #catagory{
        // .catagory_title{}
        .catagory_item{
            .popular_cat{
                height: 404px;
            }
            // .product_slider{}
            // .letest{}
        }
    }
    /* category section end */
    // service section start
    #service{
        padding: 30px 0;
        .service_card{
           .service_item{
               .service_content{
                   p{
                       font-size: 26px;
                   }
               }
           }
        }
    }
    // service section end
    // special  product section start
    #special_pro{
        padding: 30px 0;
        .special_tle{
            padding: 40px 0;
        }
        // .spcialC_slider{}
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 40px 0;
    }
    // contact section end
}
// extra large device end
// large device start *lg*
@media (min-width:992px) and (max-width:1199.98px){
    /* category section start */
    #catagory{
        .catagory_title{
            padding: 10px 0 40px 0;
        }
        .catagory_item{
            .popular_cat{
                 height: 370px;
                ul{
                    li{
                        a{
                            padding: 13px 0;
                        }
                    }
                }
            }
                // .product_slider{}
                // .letest{}
        }
    }
    /* category section end */
    // populer product section start
    #populer_product{
        .catagory_title{
            padding: 0 0 40px 0;
        }
    }
    // populer product section end
    // service section start
    #service{
        padding: 30px 0;
        .service_card{
           .service_item{
               .service_content{
                   padding: 20px;
                   span{
                       font-size: 50px;
                   }
                   p{
                       font-size: 22px;
                   }
               }
           }
        }
    }
    // service section end
    // special  product section start
    #special_pro{
        padding: 30px 0 40px 0;
        .special_tle{
            padding: 0 0 40px 0;
        }
        // .spcialC_slider{}
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 40px 0;
    }
    // contact section end
}
// large device end
// medium device start *md*
@media (min-width:768px) and (max-width:991.98px){
    // nav section start
    #main_menu{
        nav{
            #menu{
                margin-top: 20px;
                ul{
                    li{

                        a{
                            min-width: 300px;
                            display: inline-block;
                            background-color: $white-color;
                            text-align: center;
                            border-bottom: 1px solid #efefef;
                        }
                        
                    }
                }
            }
        }
    }
    #main_menu.animate{
        padding: 10px 0;
    }
    // nav section end
    // banner section start
    #banner{
        .banner_slider{
            .slider_item{
                height: 340px;
                .banner_img{
                    width: 320px;
                }
                .content_left{
                    p{
                        font-size: 28px;
                    }
                }
            }
        }
    }
    // banner section end
       /* category section start */
    #catagory{
        padding: 26px 0;
        .catagory_item{
            .popular_cat{
                 height: 370px;
                ul{
                    li{
                        a{
                            padding: 13px 0;
                        }
                    }
                }
            }
                // .product_slider{}
                // .letest{}
        }
    }
    /* category section end */
    // populer product section end
    #populer_product{
        padding: 26px 0;
        .catagory_title{
            padding: 10px 0 24px 0;
        }
        // .p_product_slider{}
    }
    // populer product section end 
    // weekly new product section start
    #wNew_product{
        padding: 26px 0;
        .tle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            h4{
                width: 50%;
            }
            .week_slide_btn{
                width: 50%;
                margin-top: 0;
                text-align: right;
            }
        }
    }
    // weekly new product section end
    // service section end
    #service{
        padding: 26px 0;
        .service_card{
            .row{
                align-items: center;
            }
            .service_item{
                padding: 20px 0;
                .service_content{
                    padding: 0 5px;
                    span{
                        font-size: 38px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    // service section end
    // special  product section start{
    #special_pro{
        padding: 26px 0;
        .special_tle{
            padding: 10px 0 24px 0;
        }
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 26px 0;
        .about{
            article{
                p{
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
        .info,.cont{
            margin-top: 24px;
            h5{
                padding-bottom: 20px;
            }
        }
        .info{
            ul{
                li{
                    a{
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    // contact section end
}
// medium device end
// small device start *sm*
@media (min-width:576px) and (max-width:767.98px){
    // banner section start
    #banner{
        .banner_slider{
            .slider_item{
                height: 300px;
                .banner_img{
                    width: 180px;
                }
                .content_left{
                    padding-right: 24px;
                    p{
                        font-size: 22px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
    // banner section end
    // weekly new product section start
    #wNew_product{
        padding: 26px 0;
        .tle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            h4{
                width: 50%;
            }
            .week_slide_btn{
                width: 50%;
                margin-top: 0;
                text-align: right;
            }
        }
    }
    // weekly new product section end
    // service section end
    #service{
        padding: 26px 0;
        .service_card{
            .row{
                align-items: center;
            }
            .service_item{
                padding: 16px 0;
                .service_content{
                    padding: 0 5px;
                    span{
                        font-size: 32px;
                        width: 30%;
                    }
                    p{
                        font-size: 18px;
                        width: 70%;
                    }
                }
            }
        }
    }
    // service section end
    // special  product section start{
    #special_pro{
        padding: 26px 0;
        .special_tle{
         padding: 10px 0 24px 0;
        }
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 26px 0;
        .about{
            article{
                p{
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
        .our_address{
            address{
                font-size: 14px;
                line-height: 30px;
            }
        }
        .info,.cont{
            margin-top: 24px;
            h5{
                padding-bottom: 20px;
            }
        }
        .info{
            ul{
                li{
                    a{
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    // contact section end
}
// small device end
// extra small device start
@media(max-width:575.98px){
    // nav section start
    #main_menu{
        top: 16px;
        nav{
            a{
                font-size: 16px;
            }
            button{
                span{
                    font-size: 16px;
                }
            }
            #menu{
                margin-top: 20px;
                ul{
                    li{
    
                        a{
                            min-width: 300px;
                            display: inline-block;
                            background-color: $white-color;
                            text-align: center;
                            border-bottom: 1px solid #efefef;
                        }
                    }
                }
            }
        }
    }
    #main_menu.animate{
        padding: 10px 0;
    }
    // nav section end
    // banner section start
    #banner{
        .banner_slider{
            .slider_item{
                height: 220px;
                .banner_img{
                    width: 120px;
                }
                .content_left{
                    padding-right: 18px;
                    width: 50%;
                    p{
                        font-size: 14px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    // banner section end
    #catagory{
        padding: 20px 0;
        .catagory_title{
            padding: 16px 0;
            h2{
                font-size: 18px;
            }
            .cat_slide_btn{
                a{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
    
                }
            }
        }
        .catagory_item{
            .product_slider{
                .slider_item{
                    .card{
                        padding-bottom: 18px;
                        width: 85%;
                        margin: 0 auto;
                        .tle{
                            padding: 10px 0;
                            border-radius: 4px 4px  0 0;
                            h4{
                                font-size: 14px;
                            }
                        }
                        .c_img{
                            margin: 6px 0;
                            padding: 0 8px;
                            img{
                                display: inline-block;
                            }
                        }
                        .p_name{
                            padding: 0 10px;
                            h5{
                                font-size: 15px;
                            }
                            p{
                                font-size: 14px;
                                padding: 8px 0;
                            }
                            a{
                                font-size: 14px;
                                padding: 8px 12px;
                            }
                        }
                    }
                }
            }
            .letest{
                margin-top: 14px;
                span{
                    padding: 7px 10px;
                    font-size: 14px;
                }
            }
        }
    }
    /* category section end */
    // populer product section start
    #populer_product{
        padding: 20px 0;
        .catagory_title{
            padding: 16px 0;
            h2{
                font-size: 18px;
            }
            .cat_slide_btn{
                a{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;

                }
            }
        }
        .p_product_slider{
            .slider_item{
                .card{
                    padding-bottom: 18px;
                    width: 85%;
                    margin: 0 auto;
                    .tle{
                        padding: 10px 0;
                        border-radius: 4px 4px  0 0;
                        h4{
                            font-size: 14px;
                        }
                    }
                    .c_img{
                        margin: 6px 0;
                        padding: 0 8px;
                        img{
                            display: inline-block;
                        }
                    }
                    .p_name{
                        padding: 0 10px;
                        h5{
                            font-size: 15px;
                        }
                        p{
                            font-size: 14px;
                            padding: 8px 0;
                        }
                        a{
                            font-size: 14px;
                            padding: 8px 12px;
                        }
                    }
                }
            }
        }
    }
    // populer product section end
    // weekly new product section start
    #wNew_product{
        padding: 20px 0;
        .tle{
            display: flex;
            align-items: center;
            padding: 12px 16px;
            h4{
                width: 50%;
                font-size: 18px;
            }
            .week_slide_btn{
                width: 50%;
                margin-top: 0;
                text-align: right;
                a{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
    
                }
            }
        }
        .week_slider{
            .week_slide_item{
                margin-top: 10px;
                .card{
                    width: 85%;
                    margin: 0 auto;
                    background-clip: initial;
                    border: none;
                }
            }
        }
    }
    // weekly new product section end
    // service section start
    #service{
        padding: 20px 0;
        .service_card{
            box-shadow: none;
            .row{
                width: 85%;
                margin: 0 auto;
                box-shadow: 0 0 8px 0 #ddd;
            }
            .service_item{
                padding: 14px 0;
                border-bottom: 1px solid #efefef;
                .service_content{
                        border-right: none;
                        padding: 16px;
                    span{
                        font-size: 34px;
                    }
                    p{
                        font-size: 14px;
                        width: 60%;
                        text-align: center;
                        line-height: 38px;
                    }
                }
            }
        }
    }
    // service section end
    // special  product section start{
    #special_pro{
        padding: 20px 0;
        .special_tle{
            padding: 16px 0;
            h4{
                font-size: 18px;
            }
            .cat_slide_btn{
                a{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
                }
            }
        }
        .spcialC_slider{
            margin-top: 10px;
            .spC_item{
                .card{
                    width: 85%;
                    margin: 0 auto;
                    >p{
                        font-size: 18px;
                        margin: 0 10px;
                        margin-bottom: 6px;
                    }
                    .card_content{
                        h4{
                            font-size: 22px;
                        }
                        p{
                            font-size: 18px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                    .order_btn{
                        a:first-child{
                            font-size: 16px;
                            border-radius: 19px;
                            padding: 7px 16px;
                        }
                        a.fvt{
                            padding: 5px 8px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 20px 0;
        .about{
            article{
                p{
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
        .our_address{
            h5{
                font-size: 18px;
                padding-bottom: 20px;
            }
            address{
                font-size: 12px;
                line-height: 30px;
            }
            p,span{
                font-size: 14px;
            }
        }
        .info,.cont{
            margin-top: 24px;
            h5{
                padding-bottom: 20px;
            }
        }
        .info{
            h5{
                font-size: 18px;
            }
            ul{
                li{
                    a{
                        padding: 4px 0;
                        font-size: 14px;
                    }
                }
            }
        }
        .cont{
            h5{
                font-size: 18px;
            }
            .tel{
                font-size: 14px;
            }
        }
    }
    // contact section end
}
// extra small device end