/* Common css start */
@import 'common';
@import 'colors';
@import 'mixins';
/* Common css end */
    // Extra extra large device start *xxl*
// @media(min-width:1400px){}
    // Extra extra large device end
// extra large device start *xl*
@media(min-width:1200px) and (max-width:1399.98px){
    /* category section start */
    #catagory{
        // .catagory_title{}
        .catagory_item{
            .popular_cat{
                height: 404px;
            }
            // .product_slider{}
            // .letest{}
        }
    }
    /* category section end */
    // service section start
    #service{
        padding: 30px 0;
        .service_card{
           .service_item{
               .service_content{
                   p{
                       font-size: 26px;
                   }
               }
           }
        }
    }
    // service section end
    // special  product section start
    #special_pro{
        padding: 30px 0;
        .special_tle{
            padding: 40px 0;
        }
        // .spcialC_slider{}
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 40px 0;
    }
    // contact section end
}
// extra large device end
// large device start *lg*
@media (min-width:992px) and (max-width:1199.98px){
    /* category section start */
    #catagory{
        .catagory_title{
            padding: 10px 0 40px 0;
        }
        .catagory_item{
            .popular_cat{
                 height: 370px;
                ul{
                    li{
                        a{
                            padding: 13px 0;
                        }
                    }
                }
            }
                // .product_slider{}
                // .letest{}
        }
    }
    /* category section end */
    // populer product section start
    #populer_product{
        .catagory_title{
            padding: 0 0 40px 0;
        }
    }
    // populer product section end
    // service section start
    #service{
        padding: 30px 0;
        .service_card{
           .service_item{
               .service_content{
                   padding: 20px;
                   span{
                       font-size: 50px;
                   }
                   p{
                       font-size: 22px;
                   }
               }
           }
        }
    }
    // service section end
    // special  product section start
    #special_pro{
        padding: 30px 0 40px 0;
        .special_tle{
            padding: 0 0 40px 0;
        }
        // .spcialC_slider{}
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 40px 0;
    }
    // contact section end
}
// large device end
// medium device start *md*
@media (min-width:768px) and (max-width:991.98px){
    // nav section start
    #main_menu{
        nav{
            #menu{
                margin-top: 20px;
                ul{
                    li{

                        a{
                            min-width: 300px;
                            display: inline-block;
                            background-color: $white-color;
                            text-align: center;
                            border-bottom: 1px solid #efefef;
                        }
                        
                    }
                }
            }
        }
    }
    #main_menu.animate{
        padding: 10px 0;
    }
    // nav section end
    // banner section start
    #banner{
        .banner_slider{
            .slider_item{
                height: 340px;
                .banner_img{
                    width: 320px;
                }
                .content_left{
                    p{
                        font-size: 28px;
                    }
                }
            }
        }
    }
    // banner section end
       /* category section start */
    #catagory{
        padding: 26px 0;
        .catagory_item{
            .popular_cat{
                 height: 370px;
                ul{
                    li{
                        a{
                            padding: 13px 0;
                        }
                    }
                }
            }
                // .product_slider{}
                // .letest{}
        }
    }
    /* category section end */
    // populer product section end
    #populer_product{
        padding: 26px 0;
        .catagory_title{
            padding: 10px 0 24px 0;
        }
        // .p_product_slider{}
    }
    // populer product section end 
    // weekly new product section start
    #wNew_product{
        padding: 26px 0;
        .tle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            h4{
                width: 50%;
            }
            .week_slide_btn{
                width: 50%;
                margin-top: 0;
                text-align: right;
            }
        }
    }
    // weekly new product section end
    // service section end
    #service{
        padding: 26px 0;
        .service_card{
            .row{
                align-items: center;
            }
            .service_item{
                padding: 20px 0;
                .service_content{
                    padding: 0 5px;
                    span{
                        font-size: 38px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    // service section end
    // special  product section start{
    #special_pro{
        padding: 26px 0;
        .special_tle{
            padding: 10px 0 24px 0;
        }
    }
    // special  product section end
    // contact section start
    #contact{
        padding: 26px 0;
        .about{
            article{
                // padding-right: 0;
                p{
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
        .info,.cont{
            margin-top: 24px;
            h5{
                padding-bottom: 20px;
            }
        }
        .info{
            ul{
                li{
                    a{
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    // contact section end
}
// medium device end
// small device start *sm*
@media (min-width:576px) and (max-width:767.98px){}
// small device end
// extra small device start
@media(max-width:575.98px){}
// extra small device end